In [4]:
john_data = {
    'first_name': 'John',
    'last_name': 'Doe', 
    'age': 34,
    'salary': 100_000
}

jane_data = {
    'first_name': 'Jane',
    'last_name': 'Doe', 
    'age': 32,
    'salary': 90_000
}

employee_data = {
    'John Doe': john_data,
    'Jane Doe': jane_data
}

print(employee_data['John Doe']['salary'])

total_salary = sum([employee_data[employee]['salary'] for employee in employee_data])

class DataBase:
    def __init__(self, employee_data, vendor_data = None):
        self.employee_data = employee_data
        self.vendor_data = vendor_data
        
    def get_employee_names(self):
        return list(self.employee_data.keys())
    
    def get_employee_salary(self):
        return sum(self.employee_data[name]["salary"] for name in self.employee_data)
    
    def add_employee(self, name, data):
        self.employee_data[name] = data

my_vendor_data = {}

db = DataBase(employee_data, vendor_data = my_vendor_data)
db.add_employee('Mike Cox', {'age': 45, 'salary': 80_000})
db.employee_data

100000

{'John Doe': {'first_name': 'John',
  'last_name': 'Doe',
  'age': 34,
  'salary': 100000},
 'Jane Doe': {'first_name': 'Jane',
  'last_name': 'Doe',
  'age': 32,
  'salary': 90000},
 'Mike Cox': {'age': 45, 'salary': 80000}}